# Projeto 1 - Ciência dos Dados

Nome: _____

Nome: _____

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [280]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re 
import string
from unidecode import unidecode
#lembre-se de baixar unidecode, que não vem com o pacote inicial do Anaconda

In [281]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\gabri\Downloads\C.Dados\c_dados

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [282]:
filename = 'Doritos.xlsx'

In [283]:
train = pd.read_excel(filename)
train.head(5)

,Treinamento,categoria,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,meu estômago n deve tá entendo nada pq nove hr...,0,NaN,NaN,0.0,nada relevante
1,@eucaquinho mt bom com limão cebola sal e doritos,2,NaN,NaN,1.0,pouco relevante
2,a menina compra tudo da dieta pra no dia segui...,1,NaN,NaN,2.0,relevante
3,@lonely_napsta nesse capítulo quando ele usa a...,0,NaN,NaN,3.0,extremamente relevante
4,top 5 melhores snacks segundo eu mesma:\n1- do...,3,NaN,NaN,NaN,NaN

In [200]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  categoria
0  noite de sexta bebendo vinho branco em copo de...          2
1                 pq ninguém gosta do doritos verde?          3
2                       @1grillin @txspio oi doritos          0
3  faze petit gateu pa vomer com doritos amo sext...          2
4                       q vontade de come um doritos          3

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

0 =  Nao relevante
1 = pouco relevante
2 = relevante
3 = Extremamente relevante

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [355]:
def cleanup(text):
    punctuation = '[!-.:?¿;/]' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    limpo = ''
    certo = ''
    a = list(string.ascii_lowercase)
    for palavra in text_subbed.split():
        outro = palavra
        if '@' in palavra :
            outro = ''
            limpo += ' ' + outro
        else:
            limpo += " " + outro
    for palavra2 in limpo.split():
        certo += " "
        for letra in palavra2:
            if (str(letra.encode('utf-8')).count('x')>=2) and unidecode(letra) not in a:
                letra2 = " " + letra + " "
                certo += letra2
            else:
                certo += letra
    return certo.lower()

tudo = ''
nao_relevante = train.loc[train['categoria']==0,['Treinamento']]
pouco_relevante = train.loc[train['categoria']==1,['Treinamento']]
relevante = train.loc[train['categoria']==2,['Treinamento']]
muito_relevante = train.loc[train['categoria']==3,['Treinamento']]

lista_nao_relevante = nao_relevante.values.tolist()
palavra_nao_relevante = ''
for a in lista_nao_relevante:
    for palavra in a:
        for outro in (palavra.split()):
            if '@' in outro :
                ''
            else:
                
                palavra_nao_relevante += ' '
                palavra_nao_relevante += (outro)
tudo += palavra_nao_relevante                
lista_palavra_nao_relevante = cleanup(palavra_nao_relevante.lower()).split()


lista_pouco_relevante = pouco_relevante.values.tolist()
palavra_pouco_relevante = ''
for a in lista_pouco_relevante:
    for palavra in a:
        for outro in (palavra.split()):
            if '@' in outro :
                ''
            else:
                palavra_pouco_relevante += ' '
                palavra_pouco_relevante += (outro)
tudo += palavra_pouco_relevante                
lista_palavra_pouco_relevante = cleanup(palavra_pouco_relevante.lower()).split()

lista_relevante = relevante.values.tolist()
palavra_relevante = ''
for a in lista_relevante:
    for palavra in a:
        for outro in (palavra.split()):
            if '@' in outro :
                ''
            else:
                palavra_relevante += ' '
                palavra_relevante += (outro)
tudo += palavra_relevante                
lista_palavra_relevante = cleanup(palavra_relevante.lower()).split()

lista_muito_relevante = muito_relevante.values.tolist()
palavra_muito_relevante = ''
for a in lista_muito_relevante:
    for palavra in a:
        for outro in (palavra.split()):
            if '@' in outro :
                ''
            else:
                palavra_muito_relevante += ' '
                palavra_muito_relevante += (outro)
tudo += palavra_muito_relevante
lista_palavra_muito_relevante = cleanup(palavra_muito_relevante.lower()).split()
todas_listas = [lista_palavra_nao_relevante,lista_palavra_pouco_relevante,lista_palavra_relevante,lista_palavra_muito_relevante]

In [356]:
serie_nao_relevante = pd.Series(lista_palavra_nao_relevante)
tabela_relativa_nao_relevante = serie_nao_relevante.value_counts(True)

serie_pouco_relevante = pd.Series(lista_palavra_pouco_relevante)
tabela_relativa_pouco_relevante = serie_pouco_relevante.value_counts(True)

serie_relevante = pd.Series(lista_palavra_relevante)
tabela_relativa_relevante = serie_relevante.value_counts(True)

serie_muito_relevante = pd.Series(lista_palavra_muito_relevante)
tabela_relativa_muito_relevante = serie_muito_relevante.value_counts(True)

lista_tabela_relativas = [tabela_relativa_nao_relevante,tabela_relativa_pouco_relevante,tabela_relativa_relevante,tabela_relativa_muito_relevante]

In [360]:
lista_tudo = (cleanup(tudo.lower())).split()

In [361]:
prob_nao_relevante = len(lista_palavra_nao_relevante)/len(lista_tudo)
prob_pouco_relevante = len(lista_palavra_pouco_relevante)/len(lista_tudo)
prob_relevante = len(lista_palavra_relevante)/len(lista_tudo)
prob_muito_relevante = len(lista_palavra_muito_relevante)/len(lista_tudo)
print(prob_nao_relevante)
print(prob_pouco_relevante)
print(prob_relevante)
print(prob_muito_relevante)
print((prob_nao_relevante + prob_pouco_relevante + prob_relevante +prob_muito_relevante))

0.510447361371551
0.2400214304848647
0.21497455129922313
0.03455665684436111
1.0

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

In [362]:
def prob(frase,lista_tabela_relativa, lista_todas, todas_listas):
    probabilidade = 1
    a = 0
    t = 0 
    count = 0
    y= 0
    lista2 = []
    multi = 1
    for tabela in lista_tabela_relativa:
        count = 0
        y +=1
        multi = 1
        for lista in todas_listas:
            for palavra in frase.split():
                if count >= len(frase.split()) :
                        break
                if palavra in tabela:
                    probabilidade = (1 + tabela[palavra])
                    count+=1
    
                else:
                    probabilidade = 1
                    count+=1
                t+=1
                multi *= probabilidade
        lista2.append(multi)
    if lista2.index(max(lista2)) == 0:
        return 0
    elif lista2.index(max(lista2)) == 1:
        return 1
    elif lista2.index(max(lista2)) == 2:
        return 2
    elif lista2.index(max(lista2)) == 3:
        return 3

print(prob('3d doritos boi',lista_tabela_relativas,lista_tudo,todas_listas))

1

In [363]:
lista_f = []
for a in test['Teste']:
    lista_f.append( prob(cleanup(a),lista_tabela_relativas,lista_tudo,todas_listas))
test['teste_pc'] = lista_f
test.head(5)

                                               Teste  categoria  teste_pc
0  noite de sexta bebendo vinho branco em copo de...          2         1
1                 pq ninguém gosta do doritos verde?          3         1
2                       @1grillin @txspio oi doritos          0         1
3  faze petit gateu pa vomer com doritos amo sext...          2         3
4                       q vontade de come um doritos          3         1

In [364]:
pd.crosstab(test['categoria'],test['teste_pc'],normalize = 'index')

teste_pc          0         1         2         3
categoria
0          0.153846  0.466667  0.153846  0.225641
1          0.011765  0.552941  0.188235  0.247059
2          0.000000  0.579545  0.147727  0.272727
3          0.000000  0.406250  0.125000  0.468750

In [365]:
pd.crosstab(test['categoria'],test['teste_pc'])

teste_pc    0   1   2   3
categoria
0          30  91  30  44
1           1  47  16  21
2           0  51  13  24
3           0  13   4  15

In [366]:
g = pd.crosstab(test['categoria'],test['teste_pc'],normalize = True)
print(' A porcentagem de acerto do nosso classificador é : {:.2f} %'.format(100*(g[0][0] + g[1][1] + g[2][2] + g[3][3])))

 A porcentagem de acerto do nosso classificador é : 26.25 %

___
### Concluindo

In [367]:
# O nosso classificador obteve uma porcentagem de 26,25% de acerto no geral, porém ao analisarmos em cada categoria,
# vemos que o nosso classificador teve diferentes performances entre as categorias, por exemplo, vemos que as categorias 3 e 1
# tiveram uma maior taxa de acerto(46,87% e 55,29% respectivamente). Agora já nas categorias 0 e 2, vemos uma taxa de acerto de
# (15,38% e 14,77% respectivamente). Assim, vemos que a maioria dos tweets foram classificados errados e uma possível correção
# para tal seria aumentar nosso banco de dados de treinamento. Outro ponto que podemos ver, é que nosso classificador não
# conseguiu diferenciar tweets com ironia, sarcasmo e dupla negação. Nesse caso, tais tweets afetaram o desempenho do nosso classificador.

In [368]:
# Não pode alimentar a base de treinamento automaticamente usando o próprio classificador, pois o mesmo irá classificar esses
# tweets baseado no primeiro banco de dados, deste modo, podendo propagar o erro da primeira base de dados.

In [369]:
# Podemos usar o classificador para coletar informações sobre o feedback dos clientes de um produto de uma empresa e classificá-los em categorias
# Outro exemplo poderia ser filtragem de mensagens de spam.

In [370]:
# Algumas melhorias que poderiam ser feitas em um classificador seria aumentar a base de dados, pois assim teremos mais precisão
# em nossas classificações. Outra melhoria seria remover os links dos tweets, pois acabam interferindo na probabilidade do tweet.

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separação de espaços entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adição de mais tweets na base, conforme enunciado. (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**